<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reset Account Password | RentShare</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.4.6/dist/vuetify.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css">
</head>
<body>
	<div id="app">
		<div class="d-flex align-center my-2 gap-1">
			<v-avatar image="{{scheme}}://{{host}}/org/logo.jpeg" size="100"></v-avatar>
			<h2>Reset Password For RentShare</h2>
		</div>

		<p>Dear <strong>{{username}}</strong>,</p>

		<p>We received a request to reset the password for your <strong>RentShare</strong> account associated with this email address .
		If you requested this password reset, please click on the following link to create a new password:</p>

		<v-btn class="mb-4" href="{{frontend_host}}/auth/confirm-reset-password/{{code}}" title="Reset Password" color="primary">Reset Password</v-btn>

		<p>This link will take you to a secure page on our website where you can enter your new password.</p>

		<p><strong>Please note:</strong> This link will be valid for only <strong>5 minutes</strong> to ensure your account's security. If you do not reset your password within this time frame, you will need to request a new password reset link.</p>

		<p>If you did not request a password reset, please ignore this email. However, we recommend that you change your password as a precaution. You can do this by logging into your account and going to the "Account Settings" page.</p>

		<p>If you have any questions, please contact our support team at <a href="mailto:support@rentshare.com" title="support@rentshare.com">support@rentshare.com</a> or
			<a href="tel:+977-9843530425" title="+977-9843530425">+977-9843530425</a>.</p>

		<p>Thank you,<br>
		The RentShare Team</p>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.js"></script>
	<script>
		const { createApp } = Vue
		const { createVuetify } = Vuetify

		const vuetify = createVuetify()

		const app = createApp()
		app.use(vuetify).mount('#app')
	</script>
	<style>
		* {
			box-sizing: border-box;
			font-family: 'Roboto', sans-serif;
		}
		h1, p {
			margin-bottom: 1rem;
		}
		.gap-1 {
			gap: 1rem;
		}
	</style>
</body>
</html>
