# IDE caches
.vscode
.idea

# Virtual env
venv

# Project env
.env

# DB
db.sqlite3

# Pycache
__pycache__/
**/*.pyc


#Assets
static/
#only include the org folder in assets
!assets/
assets/*
!assets/org
